$color-dark-text-purple: #f4c8f3;
$color-dark-hover-purple: #f3abf3;

$color-text-green: #000000;
$color-hover-green: #9df4a6;
$color-text-content-black: #333333;

// 다크모드도 해볼건데 일단 다크모드 아닌 색상부터 정리
// 텍스트, 호버시 색상, 텍스트2( 설명텍스트 ),
